<style>
.jobs-todo { color:#36c !important; }
.jobs-done { color:#14866d !important; }
.jobs-running { color:#fc3 !important; }
.jobs-failed { color:#b32424 !important; }
</style>

<template id='jobs-template'>
<div class='mt-2'>
	<catalog-header v-if='specific_catalog' :catalog="catalog"></catalog-header>
    <h1 v-else tt='all_catalogs'></h1>
    <div v-if='specific_catalog'>
        <h3 tt='start_new_job' style='vertical-align:top'></h3>
        <table class='table'>
            <tbody>
                <tr v-for='action in vaild_actions' style='margin-right:0.5em'>
                    <td nowrap>
                        <span v-if='typeof active[action]!="undefined"'>{{action.replace(/_/g,' ')}}</span>
                        <a v-else href='#' @click.prevent='start_new_job(action)'>{{action.replace(/_/g,' ')}}</a>
                    </td>
                    <td><span :tt='"snj_"+action'></span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <h3 tt='job_list'></h3>
    <table class='table table-striped' id='jobs_table' style='font-size:90%'>
        <thead>
            <tr>
                <th v-if='!specific_catalog' tt='catalog' style='min-width:10rem;'></th>
                <th tt='actions'></th>
                <th tt='status'></th>
                <th tt='last_change'></th>
                <th tt='recurring'></th>
                <th tt='next_scheduled_run'></th>
                <th tt='note'></th>
                <th tt='user'></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for='job in jobs'>
                <td v-if='!specific_catalog'>
                    <router-link :to='"/jobs/"+job.catalog'>{{job.catalog}}</router-link><br/>
                    <div style='font-size:8pt;line-height:1'>
                        {{all_catalogs[job.catalog].name}}
                    </div>
                </td>
                <td nowrap>{{job.action.replace(/_/g,' ')}}</td>
                <td><span :class='"jobs-"+job.status.toLowerCase()'>{{job.status}}</span></td>
                <td nowrap>{{format_ts(job.last_ts)}}</td>
                <td nowrap>{{format_recurring(job.repeat_after_sec)}}</td>
                <td nowrap>{{format_ts(job.next_ts)}}</td>
                <td>{{job.note}}</td>
                <td>
                    <a v-if='job.user_id!=0' class='wikidata' target='_blank' :href='"https://www.wikidata.org/wiki/User:"+job.user_name'>{{job.user_name}}</a>
                    <span v-else>{{job.user_name}}</span>
                </td>
            </tr>
        </tbody>
    </table>
        <div v-if='auto_update_job_list'>
            <i tt='jobs_auto_updating'></i>
        </div>
        <div v-else>
            <button class='btn btn-outline-primary' @click.prevent='load()' tt='refresh'></button>
        </div>
</div>
</template>

<script>
'use strict';

let Jobs = Vue.extend ( {
    props : ['id'] ,
    data : function () { return { specific_catalog:false , catalog:{} , jobs:[] , interval:'' , auto_update_job_list:false , active:[] ,
        vaild_actions:['automatch','automatch_by_search','automatch_from_other_catalogs','automatch_by_sitelink','purge_automatches','auxiliary_matcher','taxon_matcher'] 
        // 'automatch_from_large_catalogs','create_entries_with_shared_aux','create_unmatched_entries_with_no_search_results',
    } } ,
    created : function () {
    	var me = this ;
        me.specific_catalog = typeof me.id != 'undefined' ;
        if ( me.specific_catalog ) {
            me.catalog = all_catalogs[me.id] ;
            if ( me.catalog.has_person_date == 'yes' ) {
                me.vaild_actions.push('match_person_dates');
                me.vaild_actions.push('match_on_birthdate');
            }
            if ( me.catalog.has_autoscrape == 1 ) me.vaild_actions.push('autoscrape');
            //console.log(JSON.parse(JSON.stringify(me.catalog)))
        }
        me.load();
    },
	updated : function () { tt.updateInterface(this.$el) } ,
	mounted : function () { tt.updateInterface(this.$el) } ,
    methods : {
        load : function() {
            let me = this ;
            $('#jobs_table').addClass('text-muted');
            if ( me.specific_catalog ) me.loadSpecifcCatalog() ;
            else me.loadAllCatalogs() ;
            $('#jobs_table').removeClass('text-muted');
        },
        startUpdateInterval : function() {
            let me = this ;
            if ( me.interval != '' ) {
                clearInterval(me.interval);
                me.interval = '' ;
            }
            if ( me.auto_update_job_list ) {
                me.interval = setInterval(function(){me.load()},1000*30) ; // 30sec
            }
        } ,
        loadSpecifcCatalog : function() {
            let me = this ;
            $.get('./api.php',{
                query:'get_jobs',
                catalog:me.id,
                max:-1
            },function(d){
                me.active = [] ;
                me.auto_update_job_list = false ;
                $.each ( d.data , function ( dummy , job ) {
                    if ( job.status == 'TODO' || job.status == 'RUNNING' || job.status == 'LOW_PRIORITY' || job.status == 'HIGH_PRIORITY' ) {
                        me.auto_update_job_list = true ;
                        me.active[job.action] = 1 ;
                    }
                } ) ;
                me.jobs = d.data ;
                me.startUpdateInterval();
            } ,'json')
        },
        loadAllCatalogs : function() {
            let me = this ;
            $.get('./api.php',{
                query:'get_jobs',
                max:50
            },function(d){
                me.jobs = d.data ;
                me.auto_update_job_list = true ;
            } ,'json')
        },
        start_new_job : function ( action ) {
            let me = this ;
            $.get('./api.php',{
                query:'start_new_job',
                catalog:me.id,
                action:action,
                username:widar.getUserName()
            },function(d){
                if ( d.status != 'OK' ) {
                    alert ( d.status ) ;
                    return ;
                }
                me.load(); // Referesh
            } ,'json')
        } ,
        format_recurring : function(sec) {
            if ( typeof sec=='undefined' || sec==null || sec=='' || sec*1==0 ) return '' ;
            if ( sec < 3600 ) return sec+'s' ;
            if ( sec >= 3600 && sec < 60*60*24 ) return (sec/3600).toFixed(1)+'h' ;
            if ( sec >= 60*60*24 && sec < 60*60*24*30 ) return (sec/3600).toFixed(1)+'days' ;
            return '~'+(sec/(60*60*24*30)).toFixed(1)+' months' ;
        } ,
        format_ts : function(ts) {
            if ( typeof ts == 'undefined' ) return '' ;
            if ( ts == null ) return '' ;
            if ( ts == '' ) return '';
            return ts.substr(0,4)+'-'+ts.substr(4,2)+'-'+ts.substr(6,2)+' '+ts.substr(8,2)+':'+ts.substr(10,2)+':'+ts.substr(12,2);
        }
    } ,
    template:'#jobs-template'
} ) ;
</script>
