<template id='search-box-template'>
<form class="form-inline my-2 my-lg-0 search_box_form" @submit="submit();return false">
  <input class="form-control mr-sm-2" type="text" tt_placeholder="search" v-model="query" accesskey="f">
  <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit" tt="search"></button>
</form>
</template>



<template id='search-page-template'>
<div style='margin-top:10px'>

<div style='display:inline-block'><search-box :query="query" :exclude="exclude" :include="include"></search-box></div>
<div style='display:inline-block'><button class='btn btn-outline-secondary' @click.prevent='$("#include_list").toggle()' tt='include_catalogs'></button></div>
<div style='display:inline-block'><button class='btn btn-outline-secondary' @click.prevent='$("#exclude_list").toggle()' tt='exclude_catalogs'></button></div>

<div class="card" style="margin-top:20px;margin-bottom:20px;display:none;" id="exclude_list">
	<div class="card-block">
	<div style="float:right"></div>

	<p tt='exclude_box'></p>

	<div class="card-text" style="line-height:1em;font-size:9pt">

	<div style='margin-bottom:1em'>
		<div>
		All catalogs :
		<span><a href='#' @click.prevent='toggleGroup("all",$event,"exclude")'>set</a></span>
		<span><a href='#' @click.prevent='toggleGroup("none",$event,"exclude")'>clear</a></span>
		<span><a href='#' @click.prevent='toggleGroup("toggle",$event,"exclude")'>toggle</a></span>
		</div>
		<div>
		Toggle group:
		<span v-for='(catalogs,name) in cgroups' style='margin-right:1em'>
		<a href='#' @click.prevent='toggleGroup(name,$event,"exclude")'>{{name}}</a>
		</span>
		</div>
	</div>

	<div v-for="c in all_catalogs" style="margin-right:10px;display:inline-block">
	<label :title='c.desc'>
	<input type='checkbox' class='exclude_catalog' @change='toggleCB(c.id,"exclude")' :catalog='c.id' :checked='isExcluded(c.id)' />
	{{c.name.replace(/ /g,'&nbsp;')}}
	<label>
	</div>
	</div>
	</div>
</div> <!-- card -->

<div class="card" style="margin-top:20px;margin-bottom:20px;display:none;" id="include_list">
	<div class="card-block">
	<div style="float:right"></div>

	<p tt='include_box'></p>

	<div class="card-text" style="line-height:1em;font-size:9pt">

	<div style='margin-bottom:1em'>
		<div>
		All catalogs :
		<span><a href='#' @click.prevent='toggleGroup("all",$event,"include")'>set</a></span>
		<span><a href='#' @click.prevent='toggleGroup("none",$event,"include")'>clear</a></span>
		<span><a href='#' @click.prevent='toggleGroup("toggle",$event,"include")'>toggle</a></span>
		</div>
		<div>
		Toggle group:
		<span v-for='(catalogs,name) in cgroups' style='margin-right:1em'>
		<a href='#' @click.prevent='toggleGroup(name,$event,"include")'>{{name}}</a>
		</span>
		</div>
	</div>

	<div v-for="c in all_catalogs" style="margin-right:10px;display:inline-block">
	<label :title='c.desc'>
	<input type='checkbox' class='include_catalog' @change='toggleCB(c.id,"include")' :catalog='c.id' :checked='isIncluded(c.id)' />
	{{c.name.replace(/ /g,'&nbsp;')}}
	<label>
	</div>
	</div>
	</div>
</div> <!-- card -->

<div v-if='(typeof query!="undefined")'>
<hr/>
<div v-if='running'><i tt='searching'></i></div>
<div v-else>
<div v-if='Object.keys(results).length>0'><entry-list-item v-for="e in results" :entry="e" :show_catalog="1" :show_permalink="1" :twoline="1" key="e.id"></entry-list-item></div>
<div v-else-if='!query.match(/^\s*$/)'><i tt="no_matches"></i></div>
</div>
</div>
</div>
</template>

<script>
'use strict';
// https://tools.wmflabs.org/mix-n-match/#/search/Vase%20Painter/?include=1653,1,2,3

Vue.component ( 'search-box' , {
	props : [ 'query' , 'exclude' , 'include' ] ,
	created : function () { tt.updateInterface(this.$el) } ,
	updated : function () { tt.updateInterface(this.$el) } ,
	mounted : function () { tt.updateInterface(this.$el) } ,
	template : '#search-box-template' ,
	methods : {
		submit : function () {
			var me = this ;
			var url = '/search/'+me.query ;
			if ( typeof me.exclude != 'undefined' && me.exclude.length > 0 ) {
				url += '/' + this.exclude.join(',') ;
			}
			if ( typeof me.include != 'undefined' && me.include.length > 0 ) {
				url += '?include=' + me.include.join(',') ;
			}
			router.push(url);
		}
	}
} ) ;

var SearchPage = Vue.extend ( {
	template : '#search-page-template' ,
	props : [ 'query' , 'excl' ] ,
	data : function () { return { results:[] , exclude:[] , include:[] , cgroups:{} , running:true } } ,
	created : function () {
		var me = this ;
		me.updateResults() ;
	} ,
	updated : function () { tt.updateInterface(this.$el) } ,
	mounted : function () { tt.updateInterface(this.$el) ; $(this.$el).find('form.search_box_form input[type="text"]').focus() } ,
	methods : {
		updateResults : function () {
			var me = this ;
			me.running = true ;

			if ( typeof me.excl != 'undefined' ) {
				me.exclude = me.excl.split(',') ;
				me.excl = undefined ;
			} else me.exclude = [] ;

			if ( typeof me.$route.query.include != 'undefined' ) {
				me.include = me.$route.query.include.replace(/[^0-9,]/g,'').split(/,/) ;
			}
			
			var cgroups = {} ;
			$.each ( all_catalogs , function ( k , v ) {
				if ( typeof cgroups[v.type] == 'undefined' ) cgroups[v.type] = [] ;
				cgroups[v.type].push ( v.id ) ;
			} ) ;
			me.cgroups = cgroups ;

			me.query = $.trim(me.query) ;
			if ( me.query.match(/^\s*$/) ) {
				me.running = false ;
				return ;
			}

			$('form.search_box_form input[type="text"]').val ( me.query ) ;
			$.post ( 'api.php' , {
				query:'search' ,
				what:me.query,
				exclude:me.exclude.join(','),
				include:me.include.join(',')
			} , function ( d ) {
				$.each ( d.data.entries , function ( k , v ) {
					if ( typeof d.data.users[v.user] == 'undefined' ) return ;
					d.data.entries[k].username = d.data.users[v.user].name
				} ) ;
				me.results = d.data.entries ;
				me.running = false ;
			} , 'json' ) ;
		} ,
		isExcluded : function ( cid ) {
			return $.inArray(cid,this.exclude)!==-1?"checked":0 ;
		} ,
		isIncluded : function ( cid ) {
			return $.inArray(cid,this.include)!==-1?"checked":0 ;
		} ,
		toggleGroup : function ( name , e , mode ) {
			e.preventDefault() ;
			var me = this ;
			if ( name == 'toggle' || name == 'all' || name == 'none' ) {
				$.each ( all_catalogs , function ( k , v ) {
					var i = $('input.'+mode+'_catalog[catalog="'+v.id+'"]') ;
					var state = !i.prop('checked') ;
					if ( name == 'all' ) state = true ;
					if ( name == 'none' ) state = false ;
					i.prop('checked',state) ;
				} ) ;
			} else {
				$.each ( me.cgroups[name] , function ( k , cid ) {
					var i = $('input.'+mode+'_catalog[catalog="'+cid+'"]') ;
					i.prop('checked',!i.prop('checked')) ;
				} ) ;
			}
			var collect = [] ;
			$.each ( all_catalogs , function ( k , v ) {
				var i = $('input.'+mode+'_catalog[catalog="'+v.id+'"]') ;
				if ( i.prop('checked') ) collect.push ( v.id ) ;
			} ) ;
			me[mode] = collect ;
			return false
		} ,
		toggleCB : function ( cid , mode ) {
			var me = this ;
			var state = $('input.'+mode+'_catalog[catalog="'+cid+'"]').prop('checked') ;
			if ( state ) me[mode].push ( cid ) ;
			else {
				var index = me[mode].indexOf(cid);
				if ( index != null ) me[mode].splice ( index , 1 ) ;
			}
		}
	} ,
	watch: {
		'$route' (to, from) {
			this.updateResults ( to.params.query ) ;
		}
	}
} ) ;

</script>
