<template id='translator-template'>
<div>
	<span v-if='translated' style='color:#FF9C42'>
		{{translation}}
	</span>
	<span v-else-if='note!=""'>
		<i>{{note}}</i>
	</span>
</div>
</template>

<script>
'use strict';

var languages_loaded = false ;
var translator_iso ;
var apertium_languages;
var translation_cache = [] ;

Vue.component ( 'translator' , {
    props : ['text','from','to'] ,
    data : function () { return { translated:false, translation:'' , note:'' } } ,
    created : function () {
    	var me = this ;
    	me.load_languages() ;
    },
	updated : function () { tt.updateInterface(this.$el) } ,
	mounted : function () { tt.updateInterface(this.$el) } ,
    methods : {
    	load_languages : function () {
    		let me = this ;
    		if ( languages_loaded && typeof apertium_languages != 'undefined' ) {
    			me.translate();
    			return;
    		}
	    	if ( languages_loaded && typeof apertium_languages == 'undefined' ) {
	    		setTimeout(me.load_languages,100);
	    		return;
	    	}
	    	languages_loaded = true ;
    		$.get('./iso.json',function(d){
    			translator_iso = d ;
    			$.get('https://apertium.wmflabs.org/list',function(d){
    				apertium_languages = {};
    				$.each(d.responseData,function(num,pair){
    					if ( typeof apertium_languages[pair.sourceLanguage]=='undefined') apertium_languages[pair.sourceLanguage]=[];
    					apertium_languages[pair.sourceLanguage].push(pair.targetLanguage);
    				});
    				me.translate();
    			},'json');
    		},'json');
    	} ,
    	translate:function(){
    		let me = this ;
    		if ( typeof me.text == 'undefined' ) return ;
    		if ( typeof me.from == 'undefined' ) return ;
    		if ( typeof me.to == 'undefined' ) return ;
	    	if ( me.text=='' || me.from=='' || me.to=='' || me.from==me.to ) return;
	    	let from = me.iso(me.from) ;
	    	let to = me.iso(me.to) ;
	    	if ( typeof apertium_languages[from] == 'undefined' ) {
	    		//me.note = "Cannot translate from " + from ;
	    		return;
	    	}
	    	if ( apertium_languages[from].indexOf(to) == -1 ) {
	    		//me.note = "Cannot translate from " + from + ' to ' + to + ', only to ' + apertium_languages[from].join(',');
	    		return;
	    	}

	    	let text = me.filteredText() ;

	    	if ( typeof translation_cache[from] == 'undefined' ) translation_cache[from] = [] ;
	    	if ( typeof translation_cache[from][to] == 'undefined' ) translation_cache[from][to] = {} ;
	    	/*
	    	// TODO FIXME
	    	if ( typeof translation_cache[from][to][text] != 'undefined' ) {
	    		console.log("!!");
	    		me.translation = translation_cache[from][to][text];
	    		return;
	    	}
	    	*/

			let url = '//apertium.wmflabs.org/translate?langpair='+from+'|'+to+'&q='+text ;
			$.get(url,function(d){
				me.translation = d.responseData.translatedText;
				//translation_cache[from][to][text] = me.translation;
				me.translated = true ;
			},'json');
    	},
    	filteredText : function () {
    		let me = this ;
    		return me.text.replace(/;/g,'.').replace(/[«»]/g,' ').replace(/ +/g,' ');
    	} ,
    	iso:function(lang) {
    		if (typeof translator_iso[lang] != 'undefined') return translator_iso[lang];
    		return lang;
    	}
    },
    template:'#translator-template'
    } ) ;
</script>
